venv/
.coverage
**/__pycache__/**
.env
*.egg-info/
build/
.codewise_cache/
# Ignore everything in .vscode
.vscode/*
# But NOT the folder itself and NOT settings.json (or launch.json if needed)
!.vscode/
!.vscode/settings.json
